@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
body {
  font-family: Helvetica, sans-serif;
}
.App {
  padding: 100px 0;
  max-width: 960px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 60px;
}
button {
  color: white;
  border: none;
  border-radius: 42px;
  font-size: 16px;
  padding: 30px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.btn-primary {
  background-color: #1860a8;
  margin: 60px auto;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: #145697;
}
.btn-secondary {
  background-color: #7ac06e;
}
.btn-secondary:hover,
.btn-secondary:active {
  background-color: #6dab62;
}
a {
  color: #1860a8;
}
.joke-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.loading-text {
  font-size: 18px;
  text-transform: uppercase;
  color: #666666;
  font-weight: 600;
  text-align: center;
}
.joke-text {
  font-size: 30px;
  position: relative;
}

.joke-opener::before {
  content: "“";
  font-size: 400px;
  position: absolute;
  top: -110px;
  left: -45px;
  z-index: -1;
  color: #eee;
}
.joke-closer {
  text-align: right;
}
.joke-closer::after {
  content: "”";
  font-size: 400px;
  position: absolute;
  top: -110px;
  right: -64px;
  z-index: -1;
  color: #eee;
}
.error-text {
  color: #cc0000;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .App {
    padding-top: 60px;
  }
  header {
    flex-direction: column;
    gap: 30px;
  }
  .joke-text {
    font-size: 18px;
  }
  .joke-opener::before {
    font-size: 200px;
    top: -56px;
  }
  .joke-closer::after {
    font-size: 200px;
    top: -52px;
    right: -30px;
  }
  .btn-primary {
    margin: 30px auto;
  }
}
